<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sforce.android.sample"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SF8"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sforce.android.sample.SforceLogin">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceDisplayLoginResult">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceQuery">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceRetrieve">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceCreate">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceCreateContact">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceCreateAccount">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceUpdate">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceUpdateContact">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceUpdateAccount">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceDelete">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceUpsertAccount">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceQueryMoreExample">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceQueryAllExample">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceLogout">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceThanks">
        </activity>
        <activity android:name="com.sforce.android.sample.SforceOAuthLogin">
        </activity>
		<activity android:name="com.sforce.android.sample.PicSample"
						android:label="@string/app_name"
						android:configChanges="keyboardHidden|orientation"
						android:screenOrientation="landscape"
						android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
    </application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-permission android:name="android.permission.CAMERA" />
</manifest> 